
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/TwinklingAnalyzer.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Dialogs.cpython-37.pyc
__pycache__/LogicFunction.cpython-37.pyc
__pycache__/Dialogs.cpython-37.pyc
__pycache__/Window.cpython-37.pyc
